name: Flutter CI

on:
  push:
    branches:
      - feature/IN-*
      #- develop
jobs:
  deploy-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.0.5"
          architecture: x64
      - run: flutter clean
      - run: flutter pub get
      - run: flutter build apk

      - name: Get apk info
        id: apk-info
        uses: hkusu/apk-info-action@v1
        with:
          apk-path: ${{ steps.apk-path.outputs.path }}

      - name: Rename The Build
        run: python ./.github/scripts/rename_build.py "${{steps.apk-info.outputs.version-name}}" "${{steps.apk-info.outputs.version-code}}"

      - name: Get APK Path
        id: apk-path
        run: |
          path=$(find . -name 'waiter-app-release-*.apk' -type f | head -1)
          echo "::set-output name=path::$path"

      - name: Upload APK To Slack
        uses: adrey/slack-file-upload-action@master
        with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          path: "${{steps.apk-path.outputs.path}}"
          channel: inspery_apps

  deploy-ios:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      - name: Run Flutter tasks
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.0.5"
          architecture: x64

      - run: flutter clean

      - run: flutter pub get

      - run: flutter pub run build_runner build

      - run: flutter build ios --release --no-codesign

      - name: Get ipa path
        id: ipa-path
        run: |
          path=$(find /Users/runner/work/apps-inserve/apps-inserve -name 'Gemfile.lock' -type f | head -1)
          echo "::set-output name=path::$path"

      - name: Setup Fastlane
        working-directory: /Users/runner/work/apps-inserve/apps-inserve/ios
        run: bundle install

      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.IOS_DIST_SIGNING_KEY }}
          p12-password: ${{ secrets.IOS_DIST_SIGNING_KEY_PASSWORD }}

      - name: Build & upload iOS binary
        working-directory: /Users/runner/work/apps-inserve/apps-inserve/ios
        run: bundle exec fastlane ios build_upload_testflight
        env:
          ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
          ASC_KEY: ${{ secrets.ASC_PRIVATE_KEY }}
          KEYCHAIN_PATH: /Users/runner/Library/Keychains/signing_temp.keychain-db